<!DOCTYPE html>
<html>
	<head>
		<base href="/">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>ShowTrackr</title>
		<link rel="icon" type="image/png" href="favicon.png"/>
		<link href="stylesheets/style.css" rel="stylesheet">
	</head>

	<body>

		<div class="navbar navbar-default navbar-static-top" role="navigation" bs-navbar>
			<div class="navbar-header">
				<a href="/" class="navbar-brand">
					<span class="glyphicon glyphicon-film"></span>
					Show<strong>Trackr</strong>
				</a>
			</div>
			{{!
			<ul class="nav navbar-nav">
				<li><a href="/">Home</a></li>
				<li><a href="/add">Add</a></li>
			</ul>
			}}
			{{#isUserLogged}}
				<ul class="nav navbar-nav pull-right">
					<li class="navbar-text">{{user.email}}</li>
					<li><a href="/logout">Logout</a></li>
				</ul>
			{{else}}
				<ul class="nav navbar-nav pull-right">
					<li><a href="/login">Login</a></li>
					<li><a href="/signin">Sign up</a></li>
				</ul>
			{{/}}
		</div>

		<div id="main-content">
			{{>mainContent}}
		</div>
	
	</body>

</html>