<div class="container">
	<div class="row">
		<div class="center-form panel">
			<div class="panel-body">
				<h2 class="text-center">Login</h2>

				<form method="post" action="/login" on-submit="login()" name="loginForm">
					<div class="form-group">
						<input type="text" class="form-control input-lg" name="email" ng-model="email" placeholder="Email" required autofocus>
					</div>

					<div class="form-group">
						<input type="password" class="form-control input-lg" name="password" ng-model="password" placeholder="Password" required>
					</div>

					<button class="btn btn-lg btn-block btn-success" type="submit">Sign In</button>
					<!--
					<button class="btn btn-lg btn-block btn-success" type="submit" ng-disabled="loginForm.$invalid">Sign In</button>
					-->
				</form>
			</div>
		</div>
	</div>
</div>